<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Home/StyleLayout.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Styles.css" type="text/css" />
</head>
<body>
    <div id="head">
        <div id="title">Проект Эйлера</div>
        <a href="#" class="mainButton">О проекте</a>
        <a href="#" class="mainButton">Задачи</a>
        <a href="#" class="mainButton">Обратная связь</a>
        <a href="#" class="mainButton">Project Euler.net</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>