#center {
    width: 760px;
    max-width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#head {
    border: 3px solid #cccccc;
    border-radius: 10px;
    background: #ffffff url(../images/topbg.jpg);
    padding: 17px;
    margin-bottom: 15px;
}

#logo{
    margin-bottom: 10px; 
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #links a {
        margin: 10px;
        font-size: 18px;
        font-weight: bold;
    }

        #links a:hover {
            color: #000000;
        }


#title {
    font-size: 38px;
    text-decoration: none;
    color: #214f81;
    font-weight: bold;
}

#body {
    border: 3px solid #cccccc;
    border-radius: 10px;
    background: #f1f2f3;
    padding: 7px;
    padding-bottom: 17px;
    margin-bottom: 15px;
}

.mainButton {
    text-decoration: none;
}

#bottom {
    border: 3px solid #cccccc;
    border-radius: 10px;
    padding: 5px;
    background: #f1f2f3;
}

    #bottom a {
        text-decoration: none;
        font-size: 11.2px;
    }

        #bottom a:hover {
            text-decoration: underline;
        }

#original {
    font-size: 11.2px;
    text-align: right;
}