#center {
    width: 760px;
    max-width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#head {
    border: 3px solid #cccccc;
    border-radius: 10px;
    background: #000 url(../images/topbg.jpg);
    padding: 17px;
}

#logo{
    margin-bottom: 10px; 
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #links a {
        margin: 10px;
        font-size: 18px;
        color: #676c9c;
        font-weight: bold;
    }

        #links a:hover {
            color: #000000;
        }


#title {
    font-size: 38px;
    text-decoration: none;
    color: #214f81;
    font-weight: bold;
}

.mainButton{
    text-decoration: none;
}

#bottom {
    border: 3px solid black;
}