*{
    font-family: Arial;
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
}

.pageTitle {
    color: #214f81;
    font-size: 22px;
    margin: 22px 0px;
    font-weight: bold;  
}


.pageSubTitle {
    color: #696969;
    font-size: 15.4px;
    margin: 15.4px 0px;
    font-weight: bold;
}