@model List<TextDesign>

@{
    Layout = "_Layout";
}

@foreach (var i in @Model)
{
    @switch (i.TextStyle)
    {
        case TextStyle.Title:
            <div class="pageTitle">
                @i.Text
            </div>
            break;
        case TextStyle.SubTitle:
            <div class="pageSubTitle">
                @i.Text
            </div>
            break;
        case TextStyle.Paragraph:
            <p>
                @i.Text
            </p>
            break;
        case TextStyle.ParagraphCenter:
            <p style="text-align: center;">
                @i.Text
            </p>
            break;
        case TextStyle.LineBreak:
            <br/>
            break;
    }
}
