@model List<TextDesign>

@{
    Layout = "_Layout";
}

@foreach (var i in @Model)
{
    @switch (i.TextStyle)
    {
        case TextStyle.Title:
            <div class="pageTitle">
                @i.Text
            </div>
            break;
        case TextStyle.SubTitle:
            <div class="pageSubTitle">
                @i.Text
            </div>
            break;
        case TextStyle.Paragraph:
            <p>
                @i.Text
            </p>
            break;
        case TextStyle.LineBreak:
            <br/>
            break;
    }
}

@*<div class="pageTitle">О проекте</div>
<p>
Что такое Проект "Эйлер"?
Проект "Эйлер" — это набор интригующих задач по математике и программированию, для решения которых, однако, недостаточно одной только математической интуиции. Разумеется, математика поможет прийти к красивому и элегантному решению, но для успешного решения большинства задач без навыков программирования не обойтись.
</p>
Основная мотивация для создания и поддержки проекта - предоставить пытливым умам платформу для погружения в незнакомые области и добавить немного веселья в процесс изучения новых идей.


Для кого предназначены задачи?
Целевая аудитория проекта включает в себя студентов, которым мало университетского курса, не-математиков, которым, тем не менее, интересна математика, а также профессионалов, которым хотят быть в хорошей математической форме.


Значит, задачи может решить кто угодно?
Задачи эти разной степени сложности, и большинство их предполагает индуктивное обучение. То есть очередная решённая задача открывает нечто новое, что позволит подобраться к ранее недоступной задаче. Таким образом упорный участник проекта будет медленно, но верно продвигаться по списку задач.


С чего мне начать?
Это зависит от ваших навыков и способностей. В таблице "Задачи" можно посмотреть сколько человек уже решило каждую из них. В общем случае - чем больше людей решило задачу, тем она проще.


Я написал программу, теперь придётся ждать результата вычислений пару дней?
Разумеется, нет! Каждая задача подчиняется "правилу одной минуты", которое гласит: несмотря на то, что на построение алгоритма решения могут уйти часы, эффективная реализация позволяет получить ответ на компьютере средней вычислительной мощности меньше, чем за одну минуту.


А если моя программа проработала дольше минуты, решение не засчитывается?
Засчитывается. Однако в идеале это должно побудить вас вернуться к задаче и проверить, можно ли как-то улучшить решение. Как только вы решите задачу, вы получите доступ к ветке форума с её обсуждением, где могут найтись советы по отпимизации от других участников.


Можно ли пользоваться поисковиком в процессе решения?
Многие задачи таят в себе настоящие математические сокровища, и использование интернета для их поиска никоим образом не возбраняется. Но существует чёткая граница между собственным исследованием и копипастой решения с другого сайта. Чему вы научитесь, списывая с решебника?


Я перепроверил свою программу десять раз, а ответ всё равно не принимается! Может, у вас там ошибка?
Мы постоянно выкладываем новые задачи, поэтому в самые свежие вполне могут закрасться мелкие ошибки, или же условие может быть сформулировано недостаточно чётко. Но согласитесь, что когда большинство попадает в цель, а один стрелок промахивается десять раз подряд, вряд ли ему придёт в голову стрелять себе в ногу и заключать, что раз оружие работает как нужно, то во всём виновата мишень.


Можете дать парочку советов по решению задач?
Внимательно прочитайте условие и изучите приведённые примеры. Карандаш и бумага помогут лучше понять идею, лежащую в основе задачи. Если идея эта для вас нова, обратитесь к дополнительной литературе и интернету; в условии могут содержаться подсказки, на что обратить внимание. Попробуйте написать программу для простых случаев и удостоверьтесь, что она правильно работает на тестовых данных из условия, это послужит знаком того, что вы вникли в суть задачи и продвигаетесь в верном направлении. Попытайтесь оценить время, которое потребуется для получения окончательного ответа, и если оно явно будет больше минуты, пересмотрите свою стратегию.


Я столько всего изучил, пока решал задачу ХХХ, можно мне публиковать своё решение?
На самом деле, ответ заключается в самом вопросе. Ничто не сравнится с удовлетворением от решения задачи, над которой вы ломали голову не один час. Конечно, желая поделиться своим озарением с другими, вы действуете из лучших побуждений, но увы, скорее всего вы оказывате своим читателям медвежью услугу. Настоящее обучение — это активный процесс, одно дело наблюдать за процессом, и совсем другое — переживать этот опыт самому. Пожалуйста, не лишайте других столь ценного удовольствия.


Кто это всё придумал?
Проект "Эйлер" был основан Colin Hughes (aka euler) в октябре 2001 как подраздел сайта mathschallenge.net. Кто бы мог подумать, что такие задачи окажутся настолько популярными? Поскольку количество пользователей продолжало неуклонно расти, Проект "Эйлер" переехал на отдельный домен в 2006 году.


Кто поддерживает работу Проекта "Эйлер"?
Идеи для новых задач приходят к нам от участников проекта. Затем над ними работает команда трудолюбивых и талантливых математиков и программистов. Проще говоря, Проект живёт благодаря своим участникам.


Благодарности
За создание сайта - Виталию aka Vitalg.
За перевод задач - Элану aka Konnektor, Виталию aka Stumbler.
За адскость - Антону aka antox(z*)
*@


