@model List<Problem>

@{
    Layout = "_Layout";
}

<div class="pageTitle">Задачи</div>
<p>Всего переведено задач: @(Model.Count).</p>
<p>
    Оригинал задач на английском языке: <a href="http://projecteuler.net">http://projecteuler.net</a> (внешний сайт)<br/>
    Для ускорения перевода новых задач вы можете сделать небольшое пожертвование.
</p>
<table>
    <tr>
        <th>Номер</th>
        <th>Заголовок</th>
    </tr>
    @foreach (Problem problem in Model)
    {
        <tr>
            <td>@problem.Number</td>
            <td><a asp-controller="Home" asp-action="Problem" asp-route-number=@problem.Number>@problem.Name</a></td>
        </tr>
    }
</table>
